flows.json
[{"id":"da2146f0e6271f2a","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"bf15aec5002a748d","type":"ibmiot in","z":"da2146f0e6271f2a","authentication":"apiKey","apiKey":"ab4eb0dc326a8955","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"Node","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":90,"y":100,"wires":[["22136dad90b61771","67e21b1baf748bef","34ebbb6e138e15a1","44657dddc7f41399"]]},{"id":"22136dad90b61771","type":"debug","z":"da2146f0e6271f2a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":100,"wires":[]},{"id":"67e21b1baf748bef","type":"function","z":"da2146f0e6271f2a","name":"latitude","func":"msg.payload=msg.payload.lat\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":180,"wires":[["22136dad90b61771","923666f30ec59ed4"]]},{"id":"34ebbb6e138e15a1","type":"function","z":"da2146f0e6271f2a","name":"longitude","func":"msg.payload=msg.payload.lon\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":260,"wires":[["22136dad90b61771","923666f30ec59ed4"]]},{"id":"44657dddc7f41399","type":"ui_worldmap","z":"da2146f0e6271f2a","group":"2bbffa83377ac27a","order":0,"width":0,"height":0,"name":"","lat":"17.4435","lon":"78.3772","zoom":"","layer":"OSMG","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","allowFileDrop":"false","path":"/worldmap","overlist":"DR,CO,RA,DN,HM","maplist":"OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS","mapname":"","mapurl":"","mapopt":"","mapwms":false,"x":220,"y":320,"wires":[]},{"id":"923666f30ec59ed4","type":"cloudant out","z":"da2146f0e6271f2a","name":"","cloudant":"6771832f986068dc","database":"noderedyzasr20220720","service":"node-red-yzasr-2022--cloudant-1658292458429-29783","payonly":false,"operation":"insert","x":670,"y":380,"wires":[]},{"id":"b52738d1764ebdde","type":"ui_button","z":"da2146f0e6271f2a","name":"","group":"ea3d4e1c4d527cbc","order":0,"width":"3","height":"1","passthru":true,"label":"button","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"info from driver...","payloadType":"str","topic":"alert","topicType":"msg","x":530,"y":500,"wires":[["44657dddc7f41399","833884b054d61976"]]},{"id":"9f5992e4164a594d","type":"function","z":"da2146f0e6271f2a","name":"","func":"msg.payload=global.get('data')\nmsg.payload=\"Name: \" +msg.payload.name +\n\"location: \" +msg.payload.location +'\\n' +\n\"Alert: \" +msg.payload.Alert\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":500,"wires":[["b52738d1764ebdde"]]},{"id":"833884b054d61976","type":"twilio out","z":"da2146f0e6271f2a","twilio":"2a91693bdf4305b8","twilioType":"sms","url":"","number":"+919502673716","name":"alert","x":670,"y":560,"wires":[],"info":"message alerts"},{"id":"0d2b9333de41015b","type":"inject","z":"da2146f0e6271f2a","name":"msg","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"alert","payload":"alert","payloadType":"msg","x":190,"y":440,"wires":[["9f5992e4164a594d"]]},{"id":"ab4eb0dc326a8955","type":"ibmiot","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"2bbffa83377ac27a","type":"ui_group","name":"fleet2_map","tab":"9b5b645fbfc0caba","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"6771832f986068dc","type":"cloudant","host":"0dc4b07d-e5bc-41e5-a1b0-b1696b909f27-bluemix.cloudantnosqldb.appdomain.cloud","name":"mydb"},{"id":"ea3d4e1c4d527cbc","type":"ui_group","name":"buttons","tab":"9b5b645fbfc0caba","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"2a91693bdf4305b8","type":"twilio-api","name":"alert","sid":"AC39cce88ea6b8cbe2fd9c475bdc91b715","from":"+12183094617"},{"id":"9b5b645fbfc0caba","type":"ui_tab","name":"map","icon":"location","disabled":false,"hidden":false}]